# Node modules
node_modules/

# VS Code settings
.vscode/

# PowerShell history
*.ps1
*.psm1
*.psd1

# Shopify theme junk
.DS_Store
*.log
*.tmp
*.bak
*.swp
*.swo
*.sass-cache
.cache/
.env
.env.*

# macOS system files
._*
Thumbs.db
